{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1 class='d-flex justify-content-center'>Welcome to Society Management</h1>
<h2 class='d-flex justify-content-center'>Hello, {{ user.username|default:'Guest' }}!</h2>
{% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'login' %}">Home</a>{% endblock %}</li>
            <li>{% block nav-about %}<a href="{% url 'logout' %}">About</a>{% endblock %}</li>
            <li>{% block nav-contact %}<a href="{% url 'register' %}">Contact</a>{% endblock %}</li>
        </ul>
        {% endblock %}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class='d-flex justify-content-center'>Logout</a>
{% else %}
    <a href="{% url 'login' %}" class='d-flex justify-content-center'>Login</a>
{% endif %}
{% block content %}
{% endblock %}